body {
  font-family: sans-serif;
  background: #00c1c4;
}

ul {
  padding: 0px;
  left: 0px;
  position: relative;
}

li {
  float: left;
  list-style: none;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
}

a {
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border; none;
  background: #00c1c4;
}

#menu {
  padding: 10px;
  float: left;
  background: white;
  position:absolute;
  width: 100%;
  top:0%;
  left:0%;
}

#main {
  background: white;
  padding: 10px;
  position:absolute;
  top:15%;
  left:2%;
  right:10%;
}
