body {
  margin: 0;
  font-family: sans-serif;
  background: #00c1c4;
}

ul {
  padding: 0px;
  left: 0px;
  position: relative;
}

li {
  float: left;
  list-style: none;
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

a {
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background: #00c1c4;
}

a:hover {
  border: solid;
  border-width: 4px;
  border-color: #007475;
  padding: 6px;
}

#menu {
  background: white;
  position:relative;
  height: 70px;
}

#main {
  padding: 10px;
  position:relative;
  top: 10px;
  left: 10px;
}

.StandardTextBlock {
  font-size: 20px;
  background: white;
  padding: 10px;
  max-width: 1000px;
  margin: 10px;
}

.StandardTextBlock ul {
  background: white;
  padding-top: 0px;
  padding-bottom: 50px;
}

.StandardTextBlock a {
  font-size: 14px;
}
