body {
  margin: 0;
  font-family: sans-serif;
  background: #00c1c4;
}

ul {
  padding: 0px;
  left: 0px;
  position: relative;
}

li {
  float: left;
  list-style: none;
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

a {
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border; none;
  background: #00c1c4;
}

#menu {
  background: white;
  position:relative;
  height: 70px;
}

#main {
  padding: 10px;
  position:relative;
  top: 10px;
  left: 10px;
}

#introduction {
  font-size: 20px;
  background: white;
  padding: 10px;
  max-width: 400px;
}
